html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0%;
    padding: 0%;
}
body{
    background-color: beige;
}
button {
    display: block;
    margin: 50px auto;
    padding: 20px;
    border-style: none;
    border: solid 3px #808D7C;
    background-color: #9CA986;
    font-family: 'Courier New', Courier, monospace;
    font-size: 3rem;
    border-radius: 5px;
}

button:hover {
    background-color: #95a57b;
}